/*

App Name: Mini Gallery
App Url: https://fate92ma.github.io/Mini-Gallery
Contact Me: fatema131khaled@gmail.com

*/

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

body {
    font-family: system-ui;
    background: linear-gradient(to left, #ccccff 0%, #ffcccc 100%)
}

/* Start Styling */

main {
    margin: 100px 0
}

h1 {
    padding: 5px;
    letter-spacing: 4px;
    text-align: center
}

input {
    outline: 0;
    padding: 6px;
    border: 1px solid palevioletred;
    width: 50vw;
    margin: 20px auto;
    display: block;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 5px
}

.gallery div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 30%;
    max-width: 30%;
    padding: 5px;
    margin: 5px auto
}

.gallery div img {
    cursor: pointer;
    border: 1px solid #c4b6b6;
    vertical-align: middle;
    width: 100%
}

.gallery div ul {
    flex-wrap: wrap;
    display: flex
}

.gallery div ul span {
    margin-top: 4px;
    margin-right: 7px;
    cursor: pointer;
    background: white;
    border: 1px solid darkslategray;
    padding: 0px 10px;
    border-radius: 20px;
    color: darkslategray
}

.pagination {
    margin: 40px auto;
    width: fit-content;
    display: flex;
    flex-wrap: wrap
}

.pagination p {
    background: white;
    margin: 3px;
    text-align: center;
    cursor: pointer;
    padding: 2px 10px;
}

center {
    margin: auto;
    color: red;
    font-weight: bold;
    font-size: 28px;
    margin-top: 40px
}

.displayImage {
    padding: 10px;
    margin: 100px auto;
    display: flex;
    text-align: center;
    flex-direction: column
}

.displayImage img {
    display: block;
    margin: auto;
    border: 1px solid darkslategray
}

.displayImage div {
    margin-top: 20px;
    display: flex;
    justify-content: center
}

.displayImage div p {
    display: flex;
    flex-direction: column
}

.displayImage div p:nth-of-type(2) {
    margin: 0 40px
}

.displayImage div p span {
    color: darkslategray
}

/* End Styling */

/* Start Media Query */

@media (max-width: 1200px) {

    input {
        width: 60vw
    }

    .gallery div {
        flex: 50%;
        max-width: 50%
    }
}

@media (max-width: 1024px) {

    input {
        width: 75vw
    }

    .gallery div {
        flex: 90%;
        max-width: 90%
    }
}

@media (max-width: 768px) {

    input {
        width: 90vw
    }

    .gallery div {
        flex: 99%;
        max-width: 99%
    }
}

/* End Media Query */